* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    box-sizing: border-box;
}

html {
    height: 100%;
}

.wrapper {
    padding: 4rem;
}

.line-break {
    margin-top: 5rem;
    height: 2px !important;
    color: rgb(0, 0, 0) !important;
}

button {
    margin-right: -30px;
    background-color: #fff;
    width: 40px;
    border: none;
    z-index: 99999;
}

/* -------------- navbar styling */
.navbar {
    display: block;
    overflow: hidden;
}
/* ---------------- end */

ul li {
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

a {
    color: #111;
    text-decoration: none;
}

/* -------------- main logo */
.logo {
    float: left;
    font-size: 3rem;
    color: rgb(27, 27, 27);
    text-decoration: none;
    text-transform: uppercase
}
/* ---------------- end */

.banner img {
    width: 100%;
}

/* -------------- search icon */
.fa-search {
    position: relative;
    top: 15px;
    float: right;
    right: 5rem;
    cursor: pointer;
    font-size: 35px;
}

/* -------------- Nav menu content */
.overlay {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: -80px;
    left: 0;
    padding: 25px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.301);
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 0;
    z-index: 999999999;
}

.overlay-content ul {
    margin: 10rem 0;
    padding: 0 3rem;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 60px;
    color: #383838;
    display: block;
    transition: 0.3s;
}

.overlay li {
    border-bottom: 2px rgb(161, 161, 161) solid;

}

.overlay a:hover,
.overlay a:focus {
    color: #f12525;
}

.overlay .closebtn {
    position: absolute;
    top: 60px;
    right: 35px;
    border-bottom: none;
    font-size: 60px;
}
/* ---------------- end */

/* --------------- menu bars*/
.menu {
    margin-top: 10px;
    float: right;
    cursor: pointer;
    z-index: 9999999999999;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 4px;
    background-color: rgb(15, 15, 15);
    margin: 6px 0;
    margin-right: -20px;
    transition: 0.4s;
    z-index: 99999999999999;
}


/* ---------------- end */

/* ------------ news events section */
.new-image img {
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.view-all {
    color: black;
    float: right;
    font-size: 25px;
    text-decoration: none;
}

.view-all:hover {
    color: #111;
    text-decoration: underline;
}

.caption-text {
    text-decoration: none;
    color: #111;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}


.banner a {
    text-decoration: none;
}


.news-events p {
    font-weight: 600;
    color: rgb(102, 102, 102);
}

.banner p {
    font-size: 20px;
}

/* -------------- links underline hover*/
.caption-text:hover,
.footer li:hover,
#exhibitions p:hover{
    cursor: pointer;
    text-decoration: underline;
}


.channel-text {
    font-weight: bold;
    font-size: 20px;
}

/* ----------------- Footer styling*/
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    color: aliceblue;
    background-color: #333;
}

.footer li {
    font-weight: bold;
    margin: 0 20px 0 0;
    display: inline-block;
    color: aliceblue;
}

.footer p {
    font-size: 20px;
}

.footer-line {
    height: 2px !important;
    color: #fff;
}
/* ---------------- end */

.arrow {
    position: relative;
    width: 20px;
    height: 25px;
}

.artist p {
    cursor: pointer;
    line-height: 1;
}

.show-art {
    display: none;
}


.artist p:hover {
    display: block;
    text-decoration: underline;
    color: rgb(46, 109, 134);
}

.fa{
    position: relative;
    margin: 0 30px 0 0;
    font-size: 30px;
    float: right;
    right: 4rem;
}

#exhibitions img {
    transition: 0.5s ease;
}

#exhibitions img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.692), 0 6px 20px 0 rgba(0, 0, 0, 0.678);
}

/* ------------------- Flickity Carousel */
.carousel-cell {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell img{
    height: 800px;
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    margin: 0;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, .75);
    border: none;
    color: #333;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
}
/* ---------------- end */

/* ------------- Search Form  */
form.form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
}

form.form button {
    float: left;
    width: 20%;
    height: 50px;
    padding: 10px;
    background: #4e4e4e;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px solid grey;
    border-left: none;
    cursor: pointer;
}

.card-body{
    background-color: rgba(243, 243, 243, 0.37);
}

form.form button:hover {
    color: #fff;
    background: #000000;
}

form .fa-search{
    position: relative;
    color: #111;
    top: 0.1rem;
    right: 3rem;
}

form.form::after {
    content: "";
    clear: both;
    display: table;
}
/*---------------- end */

/* media query for large screen size */
@media only screen and (max-width: 1100px) {
    .video {
        width: 100%;
        height: 500px;
    }

    .carousel-cell img {
        width: 100%;
        height: 600px;
    }
}

/* media query for tablet screen size */
@media only screen and (max-width: 800px) {

    .wrapper { /* Wrapper adds padding to body*/
        padding: 2rem;
    }

    .video {
        width: 100%;
        height: 400px;
    }

    .footer {
        padding: 2rem;
    }

    .footer span {
        text-transform: uppercase;
        font-size: 18px;
    }

    .footer p {
        font-size: 18px;
    }

    .carousel-cell img {
        width: 100%;
        height: 450px;
    }

    /* carousel prev/next button styling */
    .flickity-prev-next-button {
        top: 35%;
        width: 54px;
        margin: 0;
        height: 54px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .flickity-button {
        position: absolute;
        background: hsla(0, 0%, 100%, .75);
        border: none;
        color: #333;
    }
}


/* media query for small mobile screen size */
@media only screen and (max-width: 500px) {
    /* Wrapper adds padding to body*/
    .wrapper {
        padding: 1rem;
    }

    .header {
        padding: 0;
        margin-bottom: 5px;
    }

    .logo {
        font-size: 25px;
        line-height: 2.5;
    }

    .fa-search {
        font-size: 29px;
        top: 15px;
        right: 3.5rem;
    }

    .bar1,
    .bar2,
    .bar3 {
        line-height: 2;
        background-color: #333;
        margin: 6px 0;
        margin-right: -20px;
        transition: 0.4s;
        z-index: 99999999999;
    }

    form.form button {
        float: left;
        width: 20%;
        height: 49px;
        padding: 10px;
        background: #4e4e4e;
        color: rgb(255, 255, 255);
        font-size: 13px;
        border: 2px solid grey;
        border-left: none;
        cursor: pointer;
    }

    .video {
        width: 100%;
        height: 210px;
    }

    .title{
        font-size: 20px;
        margin: 0;
    }

    .channel-text {
        font-weight: bold;
        font-size: 17px;
    }

    .view-all {
        font-size: 18px;
        margin: 0;
    }

    .overlay a {
        font-size: 20px;
    }

    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .overlay .closebtn {
        position: absolute;
        top: 40px;
        right: 15px;
        border-bottom: none;
        font-size: 60px;
    }

    .overlay-content ul {
        margin: 10rem 0;
        padding: 0;
    }

    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        color: aliceblue;
        background-color: #333;
    }

    .info {
       
        color: #888888da;
    }

    .footer span {
        text-transform: uppercase;
        font-size: 17px;
    }

    .footer p {
        font-size: 17px;
    }

    .footer li {
        display: block;
        margin: 8px 0;
        font-size: 17px;
    }

    .fa-facebook-f,
    .fa-twitter {
        position: relative;
        top: 0.5rem;
        float: right;
        right: 1rem;
        font-size: 25px;
    }

    .caption-text {
        font-size: 18px;
    }

    .carousel-cell img {
        width: 100%;
        height: 250px;
    }

    .carousel-cell {
        width: 100%;
        margin-right: 10px;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }

    .flickity-prev-next-button {
        top: 35%;
        width: 44px;
        margin: 0;
        height: 44px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .flickity-button {
        position: absolute;
        background: hsla(0, 0%, 100%, .75);
        border: none;
        color: #333;
    }

    .banner p {
        font-size: 17px;
    }

    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: rgb(15, 15, 15);
        margin: 6px 0;
        margin-right: -20px;
        transition: 0.4s;
        z-index: 99999999999999;
    }

    .fa-search {
        position: relative;
        top: 14px;
        float: right;
        right: 3.5rem;
        cursor: pointer;
        font-size: 25px;
    }
}

/* media query for small mobile screen size */
@media only screen and (max-width: 350px) {
    .navbar {
        overflow: hidden;
    }

    .overlay-content ul {
        margin: 7rem 0;
        padding: 0;
    }

    .title {
        font-size: 15px;
        margin: 5px 0;
    }

    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
    }

    .logo {
        font-size: 20px;
        line-height: 3;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: rgb(15, 15, 15);
        margin: 6px 0;
        margin-right: -20px;
        transition: 0.4s;
        z-index: 99999999999999;
    }

    .fa-search {
        position: relative;
        top: 14px;
        float: right;
        right: 3.2rem;
        cursor: pointer;
        font-size: 24px;
    }

    .carousel-cell img {
        width: 100%;
        height: 220px;
    }

    /* carousel prev/next button styling */
    .flickity-prev-next-button {
        top: 35%;
        width: 28px;
        margin: 0;
        height: 28px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    form.form button {
        float: left;
        width: 20%;
        height: 50px;
        padding: 10px;
        background: #4e4e4e;
        color: rgb(255, 255, 255);
        font-size: 10px;
        border: 2px solid grey;
        border-left: none;
        cursor: pointer;
    }

}
